<div class="slider-container">
  <div class="slider-track">
    <img src="assets/PosterLuffy.png" alt="Poster Luffy" [routerLink]="['/catalogo']">
    <img src="assets/Luffy.png" alt="Luffy" [routerLink]="['/catalogo']">
    <img src="assets/posterDeadPool.png" alt="Deadpool" [routerLink]="['/catalogo']">
    <img src="assets/StitchFunko.png" alt="Stitch" [routerLink]="['/catalogo']">
    <img src="assets/llaveroBatman.png" alt="Batman" [routerLink]="['/catalogo']">
    <img src="assets/llaveroDesdentado.png" alt="Desdentado" [routerLink]="['/catalogo']">

    <!-- Duplicamos las imágenes para animación infinita -->
    <img src="assets/PosterLuffy.png" alt="Poster Luffy" [routerLink]="['/catalogo']">
    <img src="assets/Luffy.png" alt="Luffy" [routerLink]="['/catalogo']">
    <img src="assets/posterDeadPool.png" alt="Deadpool" [routerLink]="['/catalogo']">
    <img src="assets/StitchFunko.png" alt="Stitch" [routerLink]="['/catalogo']">
    <img src="assets/llaveroBatman.png" alt="Batman" [routerLink]="['/catalogo']">
    <img src="assets/llaveroDesdentado.png" alt="Desdentado" [routerLink]="['/catalogo']">
  </div>
</div>
