<div class="slider-container">
  <div class="slider-track">
    <img src="assets/PosterLuffy.png" alt="Poster Luffy">
    <img src="assets/Luffy.png" alt="Luffy">
    <img src="assets/posterDeadPool.png" alt="Deadpool">
    <img src="assets/StitchFunko.png" alt="Stitch">
    <img src="assets/llaveroBatman.png" alt="Batman">
    <img src="assets/llaveroDesdentado.png" alt="Desdentado">

    <!-- Duplicamos las imágenes para animación infinita -->
    <img src="assets/PosterLuffy.png" alt="Poster Luffy">
    <img src="assets/Luffy.png" alt="Luffy">
    <img src="assets/posterDeadPool.png" alt="Deadpool">
    <img src="assets/StitchFunko.png" alt="Stitch">
    <img src="assets/llaveroBatman.png" alt="Batman">
    <img src="assets/llaveroDesdentado.png" alt="Desdentado">
  </div>
</div>
