.slider-container {
  width: 85%;
  max-width: 62.5rem; 
  margin: 1% auto 0 auto;
  overflow: hidden;
  background-color: white;
  padding: 2rem 0;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); /* sombra suave */
  height: 24em;
  display: flex;
  align-items: center;
}

.slider-track {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;
  align-items: center;
}

.slider-track img {
  height: 12.5rem;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 1rem;
  padding: 0.5rem;
}

.slider-track img:hover {
  transform: scale(1.1);
  background-color: #f5f5f5;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
