<div *ngIf="producto" class="producto-detalle">
  <div class="detalle-img-wrapper">
    <img [src]="producto.img_url" alt="{{ producto.nombre }}" class="detalle-img" />
  </div>
  <div class="detalle-info">
    <h1>{{ producto.nombre }}</h1>
    <p class="precio">{{ producto.precio | currency:'EUR' }}</p>
    <p class="descripcion">{{ producto.descripcion }}</p>
    <div class="botones">
      <button class="btn btn-carrito">Añadir al carrito 🛒</button>
      <button class="btn btn-comentarios">Comentarios 💬</button>
    </div>
  </div>
</div>
