<div *ngIf="mensajeToast" class="toast-flotante">
  {{ mensajeToast }}
</div>
<div class="perfil-layout">
  <!-- Columna izquierda (Perfil) -->
  <div class="perfil-col">
    <img src="assets/userPerfil.png" alt="Perfil" class="perfil-img" />
    <div class="perfil-info">
      <div class="perfil-username">{{ usuario?.username }}</div>
      <div class="perfil-email">{{ usuario?.email }}</div>
      <button (click)="cerrarSesion()" class="cerrar-sesion">CERRAR SESIÓN</button>
      <button (click)="eliminarUsuario()" class="cerrar-sesion">ELIMINAR USUARIO</button>
      <button *ngIf="usuario?.roles?.includes('ROLE_ADMIN')" class="gestionar" (click)="irAGestionUsuarios()">
        GESTIONAR USUARIOS
      </button>
      <button class="gestionar" (click)="irAPerfil()">
        PERFIL COMPLETO
      </button>

    </div>
  </div>

  <!-- Columna derecha (Contenido) -->
  <div class="perfil-body">
    <!-- Contenedor para que el footer quede fijo -->
    <div class="carrito-lista">
      <div *ngFor="let item of carritoItems" class="carrito-item">
        <img class="carrito-img" [src]="item.producto.img_url" alt="{{item.producto.nombre}}" />
        <div class="carrito-detalles">
          <h3>{{ item.producto.nombre }}</h3>
        </div>
        <div class="carrito-precio-cantidad">
          <div class="cantidad-control">
            <button class="btn-cantidad"
              (click)="cambiarCantidad(item.producto.id_producto, item.cantidadProd - 1)">-</button>
            <span class="cantidad-text">{{ item.cantidadProd }}</span>
            <button class="btn-cantidad"
              (click)="cambiarCantidad(item.producto.id_producto, item.cantidadProd + 1)">+</button>
          </div>

          <div><strong>{{ (item.cantidadProd * item.producto.precio) | currency:'USD' }}</strong></div>
        </div>
      </div>
    </div>

    <!-- TOTAL y botón comprar fijos abajo -->
    <div class="footer">
      <span class="total">TOTAL: {{ getTotal() | currency:'EUR' }}</span>
      <button class="comprar" (click)="irAFormularioCompra()">COMPRAR</button>
    </div>
  </div>



</div>